*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url('./images/bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: auto;
}

.container{
    position: relative;
    background-color: #f0ffffc5;
    width: 300px;
    height: 400px;
    border: 6px solid green;
    border-radius: 10px;
    box-shadow: #090909 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}

.round{
    background-color: #f7bb4b;
    width: 125px;
    height: 125px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid green;
    position: absolute;
    top: -1%;
    left: 50%;
    box-shadow: #090909 0px 8px 24px;
    transform: translate(-50%, -50%);
}

.round i{
    font-size: 56px;
    color: #da7305;
}

.wrap-input-label{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 80%;
    position: relative;
}

.eye{
    position: absolute;
    right: 10px;
    bottom: 7px;
    opacity: 0.7;
}

.eye:hover{
    cursor: pointer;
    opacity: 1;
}